In [1]:
import pandas as pd
# import polars as pl
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Stage 1: Data validation and Cleaning

In [12]:
listing_df = pd.read_csv("data/Listings.csv", sep=",", encoding="latin1", low_memory=False)

In [13]:
listing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279712 entries, 0 to 279711
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   listing_id                   279712 non-null  int64
 1   name                         279537 non-null  object
 2   host_id                      279712 non-null  int64
 3   host_since                   279547 non-null  object
 4   host_location                278872 non-null  object
 5   host_response_time           150930 non-null  object
 6   host_response_rate           150930 non-null  float64
 7   host_acceptance_rate         166625 non-null  float64
 8   host_is_superhost            279547 non-null  object
 9   host_total_listings_count    279547 non-null  float64
 10  host_has_profile_pic         279547 non-null  object
 11  host_identity_verified       279547 non-null  object
 12  neighbourhood                279712 non-null  object
 13  district                     37012 non-null   object
 14  city                         279712 non-null  object
 15  latitude                     279712 non-null  float64
 16  longitude                    279712 non-null  float64
 17  property_type                279712 non-null  object
 18  room_type                    279712 non-null  object
 19  accommodates                 279712 non-null  int64
 20  bedrooms                     250277 non-null  float64
 21  amenities                    279712 non-null  object
 22  price                        279712 non-null  int64
 23  minimum_nights               279712 non-null  int64
 24  maximum_nights               279712 non-null  int64
 25  review_scores_rating         188307 non-null  float64
 26  review_scores_accuracy       187999 non-null  float64
 27  review_scores_cleanliness    188047 non-null  float64
 28  review_scores_checkin        187941 non-null  float64
 29  review_scores_communication  188025 non-null  float64
 30  review_scores_location       187937 non-null  float64
 31  review_scores_value          187927 non-null  float64
 32  instant_bookable             279712 non-null  object
dtypes: float64(13), int64(6), object(14)
memory usage: 70.4+ MB

In [14]:
listing_df.shape

(279712, 33)

In [15]:
listing_df.sample(n=5)

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
87192,39211485,Cozy sanitised studio with Wifi very close to ...,103058221,2016-11-08,"New South Wales, Australia",within a day,1.00,1.0,f,1.0,...,3,1125,92.0,10.0,9.0,10.0,10.0,10.0,10.0,t
222709,45489901,Montmartre Ã¢â¬â Pigalle Area Unique 2BR Flat,40004498,2015-07-30,"Paris, Ile-de-France, France",within a day,0.99,0.8,f,38.0,...,28,365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
123464,9231341,BRIGHT AND HUGE ROOM - BED STY BK,14667282,2014-04-24,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,30,1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
148953,34364930,Giolitti Center Room acanto,195632120,2018-06-14,"Le Rughe, Lazio, Italy",NaN,NaN,NaN,f,2.0,...,1,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
229752,29526532,"Paris Montparnasse Home (Dishwasher,Washer&Dryer)",222275558,2018-10-23,"Paris, Ile-de-France, France",NaN,NaN,1.0,f,0.0,...,5,30,75.0,9.0,8.0,10.0,9.0,10.0,8.0,t

In [16]:
listing_df.isna().sum()

listing_id                          0
name                              175
host_id                             0
host_since                        165
host_location                     840
host_response_time             128782
host_response_rate             128782
host_acceptance_rate           113087
host_is_superhost                 165
host_total_listings_count         165
host_has_profile_pic              165
host_identity_verified            165
neighbourhood                       0
district                       242700
city                                0
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bedrooms                        29435
amenities                           0
price                               0
minimum_nights                      0
maximum_nights                      0
review_scores_rating            91405
review_scores_accuracy          91713
review_scores_cleanliness       91665
review_scores_checkin           91771
review_scores_communication     91687
review_scores_location          91775
review_scores_value             91785
instant_bookable                    0
dtype: int64

In [23]:
len(listing_df["listing_id"].unique())

279712

In [24]:
len(listing_df["host_id"].unique())

182024